/* Genel Sayfa Ayarları */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigasyon */

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020211;
    position: relative;
    overflow: hidden;
}
nav {
    position: relative;
    z-index: 1;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li button {
    -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    list-style: 22px;
    color: #5c5b66;
    transition: color 0.25s;
}

/* Hero Bölümü */
.hero {
    position: relative;
    height: 100vh;
    background: url('background.png') no-repeat center center/cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
    padding: 60px;
    color: white;
}

.hero .content {
    max-width: 600px;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
}

.hero h1 span {
    font-weight: bold;
}

.hero p {
    font-size: 30px;
    margin: 10px 0;
}

/* Randevu Butonu */
.btn {
    display: inline-block;
    background: #0044cc;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 22px;
    margin-top: 15px;
}

.btn:hover {
    background: #002288;
}

/* Giriş Butonu */
.login {
    color: #0044cc !important;
    font-weight: bold;
}

.container-back {
    width: 98%;  /* Sayfanın %80'ini kaplasın */
    max-width: 1200px; /* Maksimum genişlik */
    height: 100vh; /* Yüksekliği tam ekran yap */
    background: url('background.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    border-radius: 15px; /* Köşeleri yuvarla */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    text-align: left;
    margin: 20px auto; /* Ortala */
}

.container-back h1 {
    font-size: 60px;
}

.container-back p {
    font-size: 30px;
}

footer {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

footer p {
    margin-bottom: 10px;
}